.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: background-color 0.3s ease 0s;
    color: $white;

    @media (any-hover: hover) {
        &:hover {
            background-color: $blue;
        }
    }

    &._active,
    &._sticky {
        background-color: $white;
        color: $blue;

        .header__logo,
        nav > ul > li {
            border-color: $stroke;

            svg {
                fill: currentColor;
            }
        }
    }

    &._sticky {
        box-shadow: 0px 0px 10px 0px rgba($color: $black, $alpha: 0.1);
    }

    &._active {
        &._sticky {
            box-shadow: unset;
        }
    }

    &._white {
        background-color: $white;

        .header__logo,
        nav > ul > li {
            border-color: $stroke;
            color: $blue;

            svg {
                fill: currentColor;
            }
        }

        nav > ul > li {
            @media (any-hover: hover) {
                &:hover {
                    background-color: $blue;
                    color: $white;
                }
            }

            &._active {
                background-color: $blue;
                color: $white;
            }
        }
    }

    // .header__container

    &__container {
    }

    // .header__body

    &__body {
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        // @media (max-width: 768px) {
        //     flex-wrap: wrap;
        // }

        & > :first-child {
            flex: 1 1 auto;
        }

        @media (max-width: 1024px) and (min-width: 769px) {
            & > :not(:last-child) {
                flex: 1 1 auto;
            }
        }

        @media (max-width: 600px) {
            flex-wrap: wrap;
        }

        & > ul {
            display: flex;
            align-items: center;

            @media (max-width: 768px) {
                width: 100%;
            }

            .callback {
                span {
                    white-space: nowrap;
                }
            }

            &._reverse {
                @media (max-width: 600px) {
                    order: -1;
                }
            }

            & > li {
                // position: relative;
                display: flex;
                align-items: flex-end;
                height: 96px;
                gap: 10px;
                border-right: 1px solid rgba($color: $white, $alpha: 0.25);
                border-bottom: 1px solid rgba($color: $white, $alpha: 0.25);

                cursor: pointer;
                transition: all 0.3s ease 0s;
                min-width: 61px;

                ._close {
                    display: none;
                }

                @media (min-width: 1025px) {
                    width: fit-content;
                    padding-bottom: 24px;
                }

                @media (max-width: 1440px) and (min-width: 1025px) {
                    height: 78px;
                    padding-bottom: 15px;
                }

                @media (max-width: 1024px) {
                    height: 50px;
                    padding: 15px;
                    align-items: center;
                    gap: 5px;
                }

                &:not(.basket-btn) {
                    padding-left: 24px;

                    @media (max-width: 1440px) {
                        padding-left: 15px;
                    }
                }

                & > a {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    @media (max-width: 1024px) {
                        gap: 5px;
                    }
                }

                & > li,
                & > a,
                & > span,
                & > button {
                    font-size: 16px;
                    white-space: nowrap;

                    @media (max-width: 1440px) {
                        font-size: 14px;
                    }
                }

                & > button {
                    display: flex;
                    width: fit-content;
                }

                svg {
                    fill: currentColor;

                    @media (max-width: 1024px) {
                        height: 16px;
                    }
                }

                &.services-link {
                    & > button {
                        svg {
                            transition: transform 0.3s ease 0s;
                            margin-bottom: 5px;
                        }
                    }
                }

                &.search {
                    @media (min-width: 769px) {
                        flex: 1 1 auto;
                    }

                    @media (min-width: 1025px) {
                        min-width: 200px;
                    }

                    @media (max-width: 1024px) {
                        svg {
                            position: relative;
                            top: 1px;
                        }
                    }

                    @media (max-width: 768px) {
                        input {
                            display: none;
                        }
                    }
                }

                @media (any-hover: hover) {
                    &:hover {
                        background-color: $white;
                        color: $blue;
                        border-bottom-color: transparent;

                        // .dropdown-menu {
                        //     height: calc(100vh - 192px);

                        //     @media (max-width: 1440px) {
                        //         height: calc(100vh - 156px);
                        //     }
                        // }
                    }
                }

                &._active {
                    background-color: $white;
                    color: $blue;
                    border-bottom-color: transparent;

                    .dropdown-menu {
                        height: calc(100vh - 192px);

                        @media (max-width: 1440px) {
                            height: calc(100vh - 156px);
                        }
                    }

                    ._open {
                        display: none;
                    }

                    ._close {
                        display: block;
                        stroke: currentColor;
                        stroke-width: 2px;
                    }

                    &.services-link > button > svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    // .header__logo

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding-right: 50px;
        padding-left: 50px;
        border-right: 1px solid rgba($color: $white, $alpha: 0.25);
        border-bottom: 1px solid rgba($color: $white, $alpha: 0.25);

        @media (max-width: 1440px) {
            padding-right: 25px;
            padding-left: 25px;
        }

        @media (max-width: 768px) {
            padding-right: 15px;
            padding-left: 15px;
        }

        svg {
            fill: $white;
            flex: 0 0 auto;
            @include adaptive-value("width", 56, 30, 1);
        }
    }

    // .header__search

    &__search {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        padding-right: 24px;
        gap: 10px;

        input {
            width: 100%;

            &::placeholder {
                color: inherit;
            }
        }

        @media (max-width: 1024px) {
            align-items: center;
            justify-content: center;
            padding: 0;
            height: 100%;
            gap: 5px;
        }
    }

    // .header__burger

    &__burger {
        display: flex;
        align-items: center !important;
        justify-content: center;
        padding: 15px;

        button {
            position: relative;
            width: 24px !important;
            height: 16px;
            flex: 0 0 auto;

            span {
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $white;
                flex: 0 0 auto;
                transition: all 0.3s ease 0s;
            }

            & > :first-child {
                top: 0;
            }

            & > :nth-child(2) {
                top: calc(50% - 2px);
                transform: translate(0, 50%);
            }

            & > :last-child {
                top: calc(100% - 2px);
            }
        }

        @media (min-width: 1025px) {
            display: none !important;
        }

        &._active {
            button {
                span {
                    background-color: $blue !important;
                }

                & > :first-child {
                    top: calc(50% - 2px);
                    transform: translate(0, 50%) rotate(-45deg);
                }

                & > :nth-child(2) {
                    opacity: 0;
                }

                & > :last-child {
                    top: calc(50% - 2px);
                    transform: translate(0, 50%) rotate(45deg);
                }
            }
        }
    }
}

.pl-70 {
    padding-left: 70px;

    @media (max-width: 1440px) {
        padding-left: 35px;
    }
}

.pr-70 {
    padding-right: 70px;

    @media (max-width: 1440px) {
        padding-right: 35px;
    }
}

.cart-btn {
    justify-content: flex-end;
    padding-right: 50px;
    border-right: 0 !important;

    @media (max-width: 1440px) and (min-width: 1025px) {
        padding-right: 25px;
        padding-left: 25px;
    }

    @media (max-width: 1024px) {
        padding: 0;
        justify-content: center;
        align-items: center;
    }
}

.catalog,
.callback {
    @media (max-width: 1024px) {
        padding-bottom: 15px;
    }

    @media (max-width: 768px) {
        flex: 1 1 auto;
    }
}

.phone {
    @media (max-width: 1200px) {
        display: none !important;
    }
}

.searchclose {
    display: none !important;
}

.desktop-show {
    @media (max-width: 1024px) {
        display: none !important;
    }
}

.dropdown-menu {
    position: absolute;
    z-index: 3;
    top: 96px;
    left: 0;
    width: 100vw;
    max-width: 1920px;
    overflow: auto;
    color: $blue;
    height: 0;
    transition: height 0.5s ease 0s;

    &._open {
        height: calc(100vh - 192px);

        @media (max-width: 1440px) {
            height: calc(100vh - 156px);
        }
    }

    @media (max-width: 1440px) {
        top: 78px;
    }

    @media (max-width: 1024px) {
        display: none;
    }

    // .dropdown-menu__grid

    &__grid {
        position: relative;
        z-index: 4;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        height: 100%;
        background-color: $white;
        padding: 50px;

        a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            grid-column: span 2;

            padding: 50px;
            border-radius: 4px;
            border: 1px solid $stroke;

            transition: all 0.3s ease 0s;

            @media (max-width: 1440px) {
                padding: 25px;
            }

            @media (max-width: 1024px) {
                padding: 15px;
            }

            ._btn-arrow {
                margin-left: auto;
            }

            &:nth-child(4),
            &:nth-child(5) {
                grid-column: span 3;
            }

            @media (any-hover: hover) {
                &:hover {
                    color: $white;
                    background-color: $blue;

                    ._btn-arrow {
                        border-radius: 50%;

                        svg {
                            fill: $blue;
                        }
                    }
                }
            }
        }
    }
}
