.service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: auto;
    border-radius: 6px;
    border: 1px solid #e6e6e6;
    padding: 25px;
    transition: background-color 0.3s ease 0s;

    @media (max-width: 1440px) {
        padding: 25px;
    }

    button {
        margin-left: auto;
        transition: border-radius 0.3s ease 0s;
    }

    @media (any-hover: hover) {
        &:hover {
            color: $white;
            background-color: $blue;

            svg {
                fill: $blue;
            }

            button {
                border-radius: 50%;
            }
        }
    }
}
