.hero {
    position: relative;

    &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.17) 0%, rgba(0, 0, 0, 0.5) 100%);
    }

    // .hero__container

    &__container {
    }

    // .hero__body

    &__body {
        position: relative;
        z-index: 2;

        @include adaptive-value("padding-top", 630, 400, 1);
        @include adaptive-value("padding-bottom", 40, 20, 1);

        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 50px;

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }
    }

    h1 {
        color: $white;
    }

    ._btn {
        @media (max-width: 1024px) {
            width: 100%;
        }
    }
}
.hero-home {
    ._btn {
        @media (any-hover: hover) {
            &:hover {
                div {
                    border-color: $white;
                }
            }
        }
    }
}

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    picture,
    video,
    iframe,
    img {
        width: 100%;
        object-fit: cover;
        object-position: 50% 25%;
        height: 100%;
    }
}

.pages-hero {
    background-color: $black;
    color: $white;

    .section__body {
        padding-bottom: 50px;
        position: relative;
        z-index: 2;

        @include adaptive-value("padding-top", 175, 125, 1);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
    }

    h1 {
        font-family: AA_Duke;
        @include adaptive-value("font-size", 120, 30, 1);
        line-height: 0.9;
        text-transform: uppercase;
    }

    p {
        max-width: 500px;
        @include adaptive-value("font-size", 22, 14, 1);
        font-weight: 400;
        line-height: 1.2;
    }

    .quick-buttons {
        display: flex;
        gap: 10px;

        @media (max-width: 425px) {
            flex-wrap: wrap;
            gap: 5px;
        }

        li {
            @media (max-width: 425px) {
                flex: 1 1 auto;
            }
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.2em;
            min-height: 100%;

            border: 1px solid rgba($color: $white, $alpha: 0.5);
            @include adaptive-value("font-size", 16, 12, 1);
            padding: 0.5em 1.2em;

            border-radius: 4px;

            transition: all 0.3s ease 0s;

            svg {
                width: 0.8em;
                fill: currentColor;
                flex: 0 0 auto;
            }

            @media (any-hover: hover) {
                &:hover {
                    background-color: $white;
                    color: $blue;
                }
            }
        }
    }
}

.hero-mb-0 {
    margin: 0 !important;
}

.gallery-page {
    .gallery__tabs {
        width: 100%;
        button {
            width: 100%;
        }
    }
}

.error-main {
    background-color: $black;
}

.error-hero {
    @include adaptive-value("margin-bottom", 100, 0, 1);

    background-color: $black;
    h1 {
        width: 100%;
        text-align: center;
    }

    ._btn {
        width: 100%;

        @media (any-hover: hover) {
            &:hover {
                div {
                    color: $black;
                }
            }
        }
    }
}
