.privacy {
    &.count {
        counter-reset: h3;

        div {
            &:not(.nocount) {
                counter-increment: h3;
                counter-reset: p;

                h3 {
                    &:before {
                        content: counter(h3) ". ";
                    }
                }

                p {
                    counter-increment: p;

                    &:before {
                        content: counter(h3) "." counter(p) ". ";
                    }
                }
            }
        }
    }

    div {
        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 60, 30, 1);
        }

        em {
            @include adaptive-value("font-size", 16, 12, 1);
            color: rgba($color: $black, $alpha: 0.5);
            display: block;

            &:not(:last-child) {
                margin-bottom: 1.5em;
            }
        }

        &.requisites {
            max-width: 350px;

            p span {
                color: rgba($color: $black, $alpha: 0.5);
                margin-top: 0;
            }
        }
    }

    h3 {
        font-weight: 600;
        margin-bottom: 1.5em;
        line-height: 1.2;
    }

    p {
        @include adaptive-value("font-size", 16, 12, 1);

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        span {
            margin-top: 10px;
            display: block;
        }

        a {
            text-decoration: underline;
        }
    }
}

.term {
    .terms {
        @media (max-width: 1200px) {
            grid-column: span 2;
        }
        // .terms-tabs

        &-tabs {
            grid-column: span 2;

            & > :not(:last-child) {
                margin-bottom: 20px;

                @media (max-width: 992px) {
                    margin-bottom: 0px;
                }

                @media (max-width: 768px) {
                    margin-bottom: 10px;
                }
            }

            @media (max-width: 992px) and (min-width: 769px) {
                display: flex;
                gap: 10px;
            }

            @media (max-width: 992px) {
                margin-bottom: 40px;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba($color: $black, $alpha: 0.1);
                color: $black;
                padding: 20px;
                max-width: 65.68%;
                width: 100%;
                opacity: 0.5;
                height: auto;
                transition: all 0.3s ease 0s;

                @media (any-hover: hover) {
                    &:hover {
                        background: rgba($color: $black, $alpha: 0.1);
                    }
                }

                @media (max-width: 1240px) {
                    max-width: 80%;
                }

                @media (max-width: 992px) {
                    max-width: none;
                    padding: 15px;
                    font-size: 12px;
                }

                &._active {
                    background: $black;
                    color: $white;
                    opacity: 1;
                }
            }
        }
    }
}

.terms-content__item {
    display: none;

    @media (max-width: 992px) and (min-width: 769px) {
        max-width: 50%;
        width: 100%;
    }

    &._active {
        display: block;
    }
}
