.section {
    @include adaptive-value("margin-bottom", 150, 50, 1);

    // .section__container

    &__container {
    }

    // .section__body

    &__body {
    }

    // .section__top

    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 25px;
        border-bottom: 1px solid $stroke;
        margin-bottom: 50px;

        @media (max-width: 768px) {
            padding-bottom: 15px;
            margin-bottom: 25px;
        }

        span {
            color: $blue;
            font-weight: 600;
            line-height: 1;
            @include adaptive-value("font-size", 70, 26, 1);
        }
    }
}

.category {
    @include adaptive-value("margin-top", 150, 50, 1);

    .section__body {
        & > :not(:last-child) {
            margin-bottom: 100px;

            @media (max-width: 1024px) {
                margin-bottom: 50px;
            }
        }

        & > :first-child {
            padding-bottom: 100px;
            border-bottom: 1px solid $stroke;

            @media (max-width: 1024px) {
                padding-bottom: 50px;
            }
        }
    }

    // .category-item

    &-item {
        // .category-item__image

        &__image {
            height: 362px;
            overflow: hidden;
            position: relative;

            border: 1px solid $stroke;
            padding: 20px;
            border-radius: 4px;

            @media (max-width: 768px) {
                margin-bottom: 25px;
            }

            @media (max-width: 425px) {
                margin-bottom: 15px;
            }

            & > :not(:first-child) {
                opacity: 0;
            }

            // .category-item__image-scroll

            &-scroll {
                width: 100%;
                height: 100%;
            }

            .img {
                width: 100%;
                height: 100%;
                flex: 1 1 auto;
                display: block;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    pointer-events: none;
                }

                &._default {
                    img {
                        object-fit: cover;
                    }
                }
            }
        }

        h3 {
            @include adaptive-value("font-size", 50, 18, 1);
            width: 50%;
            margin-bottom: 50px;

            @media (max-width: 1024px) {
                margin-bottom: 25px;
            }
        }

        .grid {
            @media (min-width: 769px) {
                display: grid;
                grid-template-columns: 37.5% 1fr;
                gap: 10px;
            }

            ul {
                & > :not(:last-child) {
                    margin-bottom: 10px;

                    @media (max-width: 1024px) {
                        margin-bottom: 5px;
                    }
                }

                li {
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 10px;
                        overflow: hidden;
                        padding: 20px;
                        border: 1px solid $stroke;
                        border-radius: 4px;
                        @include adaptive-value("font-size", 18, 14, 1);
                        position: relative;

                        transition: color 0.3s ease 0s;

                        &:after {
                            position: absolute;
                            content: "";
                            left: 0;
                            top: 0;
                            height: 100%;
                            width: 100%;
                            background-color: $blue;
                            max-height: 0;
                            transition: max-height 0.3s ease 0s;
                            z-index: -1;
                        }

                        @media (max-width: 1024px) {
                            padding: 15px;
                        }

                        svg {
                            width: 1em;
                            height: 1em;
                            flex: 0 0 auto;
                            fill: currentColor;
                        }

                        transition: all 0.3s ease 0s;

                        @media (any-hover: hover) {
                            &:hover {
                                &:after {
                                    max-height: 100%;
                                }

                                color: $white;
                            }
                        }
                    }
                }
            }
        }

        ._btn {
            @media (max-width: 768px) {
                margin-top: 15px;
            }
        }
    }
}

.services {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 600px) {
            grid-template-columns: repeat(6, 1fr);
            width: 100vw;
            padding-inline: 15px;
            overflow-x: scroll;
            margin-left: -15px;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        & > :first-child {
            @media (min-width: 1025px) {
                grid-column: span 3;
            }
        }
    }
}

.products {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            display: block;
            & > :not(:last-child) {
                margin-bottom: 5px;
            }
        }

        & > :first-child {
            @media (min-width: 1201px) {
                grid-column: span 2;
            }
        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 1440px) {
                padding: 25px;
            }

            @media (max-width: 1024px) {
                grid-column: span 2;
            }

            @media (max-width: 768px) {
                padding: 15px;
            }
        }
    }

    &._pages-products {
        .button {
            display: none;
        }

        .grid {
            @media (min-width: 1201px) {
                & > :nth-child(10n) {
                    grid-column: span 2;
                }
            }
        }
    }
}

.advantages {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        margin-top: 50px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
            & > :not(.advantage-card) {
                display: none;
            }
        }

        @media (max-width: 768px) {
            margin-top: 25px;
        }

        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }
    }

    .title-right {
        @media (min-width: 769px) {
            padding-left: 5px;
        }
    }
}

.title-right {
    @include adaptive-value("font-size", 46, 20, 1);

    @media (min-width: 769px) {
        width: 50%;
        margin-left: auto;
    }
}

.offer {
    background-color: $blue;
    position: relative;

    .grid {
        @media (min-width: 1025px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    ._container {
        @media (min-width: 1025px) {
            max-width: none;
            padding-left: 0;
        }

        @media (min-width: 1921px) {
            padding-right: 50px;
        }
    }

    // .offer-img

    &-img {
        width: 100%;
        height: 100%;
        position: relative;
        pointer-events: none;

        @media (max-width: 1024px) {
            position: absolute;
            left: 0;
            top: 0;
        }

        &:before {
            position: absolute;
            content: "";
            left: 1px;
            top: 0;
            width: 120%;
            height: 100%;
            z-index: 1;
            @media (min-width: 1025px) {
                background: linear-gradient(90deg, rgba($color: $blue, $alpha: 0.15) 0%, $blue 100%);
            }
            @media (max-width: 1024px) {
                background-color: rgba($color: $blue, $alpha: 0.8);
            }
        }

        img,
        picture {
            position: absolute;
            left: 0;
            top: 0;
            width: 120%;
            height: 100%;
            object-fit: cover;

            @media (max-width: 1024px) {
                object-position: bottom center;
            }
        }
    }

    // .offer-content

    &-content {
        position: relative;
        z-index: 1;
        @include adaptive-value("padding-top", 100, 50, 1);
        @include adaptive-value("padding-bottom", 100, 50, 1);

        // .offer-content__top

        &__top {
            color: $white;
            margin-bottom: 25px;
            max-width: 700px;

            h6 {
                @include adaptive-value("font-size", 40, 20, 1);
                @include adaptive-value("margin-bottom", 50, 25, 1);
            }

            p {
                @include adaptive-value("font-size", 20, 14, 1);
            }
        }
    }

    .form__row {
        @media (max-width: 1024px) and (min-width: 425px) {
            display: flex;
            flex-direction: row;
        }
    }

    .form__item {
        width: 100% !important;
    }
}

.partners {
    @include adaptive-value("padding-top", 100, 25, 1);
    @include adaptive-value("padding-bottom", 100, 25, 1);

    h2 {
        margin-bottom: 50px;

        @media (max-width: 1024px) {
            margin-bottom: 25px;
        }
    }

    ._ticker {
        display: flex;
        gap: 10px;

        // ._ticker-text

        &-text {
            display: flex;
            align-items: center;
            gap: 10px;

            .icon {
                flex: 0 0 auto;
                width: 300px;
                height: 300px;
                padding: 50px;

                display: flex;
                align-items: center;
                justify-content: center;

                background-color: $stroke;

                @media (max-width: 1024px) {
                    width: 200px;
                    height: 200px;
                    padding: 25px;
                }

                @media (max-width: 768px) {
                    padding: 15px;
                    width: 125px;
                    height: 125px;
                }

                img,
                svg {
                    width: 100%;
                }
            }
        }
    }
}

.specials {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;

        @media (max-width: 600px) {
            display: block;
            & > :not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    &.pages-special {
        .special-card__content {
            display: block;
        }

        ._btn {
            color: $white;
        }
    }
}

.map {
    margin-bottom: 0 !important;

    .grid {
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: 1024px) {
            display: block;
        }
    }

    // .map__content

    &__content {
        border-top: 1px solid $stroke;

        padding: 50px 50px 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 200px;

        @media (max-width: 1440px) {
            padding: 25px 25px 25px 0;
            gap: 100px;
        }

        @media (max-width: 1025px) {
            padding: 30px 0;
            gap: 0px;
        }

        @media (max-width: 768px) {
            padding: 50px 0 15px 0;
        }

        // .map__content-top

        &-top {
            h2 {
                font-family: AA_Duke;
                @include adaptive-value("font-size", 110, 65, 1);
                font-weight: 400;
                display: block;

                @media (max-width: 1024px) {
                    text-align: center;
                    margin-bottom: 10px;
                }
            }

            p {
                color: $blue;
                font-style: italic;
                @include adaptive-value("font-size", 20, 16, 1);

                @media (max-width: 1024px) {
                    text-align: center;
                }
            }

            @media (max-width: 1024px) {
                margin-bottom: 100px;
            }

            @media (max-width: 768px) {
                margin-bottom: 50px;
            }
        }

        // .map__content-bottom

        &-bottom {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;

            @media (max-width: 600px) {
                grid-template-columns: 1fr;
            }

            a {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                padding: 25px;
                gap: 50px;
                border-radius: 6px;
                background: $background;

                @media (max-width: 1440px) {
                    padding: 15px;
                    gap: 25px;
                }

                span,
                label {
                    color: $blue;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                span {
                    opacity: 0.5;

                    @media (max-width: 600px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    // .map__box

    &__box {
        height: 100%;

        iframe {
            height: 100%;
        }

        @media (max-width: 1024px) {
            height: 600px;
        }

        @media (max-width: 768px) {
            height: 300px;
        }
    }
}

.gallery {
    // .gallery__content

    &__content {
    }

    // .gallery__tabs

    &__tabs {
        display: flex;
        gap: 15px;
        margin-bottom: 25px;

        @media (max-width: 600px) {
            width: 100%;
        }

        button {
            opacity: 0.5;
            color: $blue;
            padding: 0 15px 15px 15px;
            border-bottom: 2px solid $blue;
            transition: opacity 0.3s ease 0s;

            @media (max-width: 600px) {
                width: 100%;
            }

            &._active {
                opacity: 1;
            }
        }

        // .gallery__tabs-content

        &-content {
        }
    }

    .tab-content {
        display: none;

        &._active {
            display: block;
        }

        div {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 5px;

            @media (max-width: 1440px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        a {
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    ._btn {
        width: 100%;
        margin-top: 50px;

        @media (max-width: 600px) {
            margin-top: 25px;
        }

        &-blue {
            @media (any-hover: hover) {
                &:hover {
                    background-color: $white;
                }
            }
        }
    }
}

.page-about {
    // .page-about__top

    &__top {
        margin-bottom: 100px;

        @media (max-width: 600px) {
            margin-bottom: 50px;
        }

        h2 {
            font-weight: 500;
            @include adaptive-value("font-size", 40, 20, 1);
            max-width: 800px;
            margin-bottom: 100px;
            @include adaptive-value("margin-bottom", 100, 30, 1);
        }

        ol {
            & > :not(:last-child) {
                margin-bottom: 15px;
            }

            li {
                display: flex;
                gap: 25px;
                padding: 25px;
                border: 1px solid $stroke;
                border-radius: 12px;

                transition: all 0.3s ease 0s;

                @media (any-hover: hover) {
                    &:hover {
                        background-color: $blue;
                        color: $white;

                        ._btn {
                            background-color: currentColor;
                        }
                    }
                }

                @media (max-width: 1024px) {
                    display: block;
                    padding: 25px 15px;

                    & > :not(:last-child) {
                        margin-bottom: 25px;
                    }
                }

                @media (max-width: 600px) {
                }

                & > div {
                    width: calc(50% - 12.5px);
                    display: flex;
                    flex: 0 0 auto;
                    gap: 25px;

                    &:first-child {
                        @media (max-width: 1200px) {
                            width: 37.5%;
                        }

                        @media (max-width: 1024px) {
                            width: 100%;
                        }

                        @media (max-width: 600px) {
                            gap: 10px;
                        }
                    }

                    &:last-child {
                        @media (max-width: 1200px) {
                            width: auto;
                            flex: 1 1 auto;
                        }

                        @media (max-width: 600px) {
                            display: block;
                        }
                    }
                }

                label {
                    @include adaptive-value("font-size", 16, 12, 1);
                    line-height: 1;
                    letter-spacing: 0.15em;
                    width: 50%;

                    margin-top: 0.2em;

                    @media (max-width: 1200px) {
                        width: 2.5em;
                    }
                }

                h3 {
                    font-weight: 400;
                    @include adaptive-value("font-size", 24, 18, 1);
                    width: 50%;

                    @media (max-width: 1200px) {
                        width: auto;
                        flex: 1 1 auto;
                    }

                    a {
                        @include adaptive-value("font-size", 14, 12, 1);
                        text-decoration: underline;
                        display: block;
                        margin-top: 1em;
                    }
                }

                p {
                    @include adaptive-value("font-size", 16, 14, 1);
                    padding-right: 20px;

                    @media (max-width: 600px) {
                        padding-right: 0;
                        margin-bottom: 20px;
                    }
                }

                ._btn {
                    @media (max-width: 600px) {
                        width: 100%;
                    }
                }
            }
        }
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-end;
        gap: 25px;

        @media (max-width: 1024px) {
            display: block;
        }
    }

    .swiper {
        height: 100%;
        width: 100%;
        min-height: 0;
        min-width: 0;

        @media (max-width: 1024px) {
            height: auto;
            margin-bottom: 50px;
        }

        @media (max-width: 600px) {
            margin-bottom: 25px;
        }

        &-slide {
            height: auto;
        }

        a {
            display: block;
            width: 100%;
            height: 100%;

            border-radius: 12px;
            overflow: hidden;

            @media (max-width: 768px) {
                border-radius: 6px;
            }
        }

        img,
        picture {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .pagination {
        position: absolute;
        z-index: 1;

        bottom: 25px;
        left: 0;
        width: 100%;

        @media (max-width: 1024px) {
            bottom: 15px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 25px;
        min-height: 100%;

        @media (min-width: 1025px) {
            @include adaptive-value("padding-top", 150, 0, 1);
        }

        @media (max-width: 600px) {
            gap: 15px;
        }

        ._btn {
            margin-top: 25px;

            @media (max-width: 600px) {
                margin-top: 10px;
            }
        }

        p {
            @media (min-width: 768px) {
                max-width: 65%;
            }
        }
    }

    .warranty {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-bottom: auto;

        @media (max-width: 600px) {
            display: block;
            margin-bottom: 10px;

            & > :not(:last-child) {
                margin-bottom: 10px;
            }
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 50px;
            padding: 25px;
            border-radius: 4px;
            border: 1px solid $stroke;

            position: relative;

            @media (max-width: 1024px) {
                padding: 15px;
                gap: 15px;
            }

            span {
                text-transform: uppercase;
                font-size: 14px;
                color: rgba($color: $black, $alpha: 0.5);
            }

            img,
            svg {
                width: 70px;
                height: 70px;
                position: absolute;
                right: 20px;
                top: 20px;

                @media (max-width: 1024px) {
                    width: 60px;
                    height: 60px;
                    right: 10px;
                    top: 10px;
                }
            }

            p {
                i {
                    font-family: AA_Duke;
                    font-size: 100px;
                    line-height: 0.64;
                    font-style: normal;
                }
            }
        }

        p {
            max-width: 100%;
        }
    }
}

.flex {
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-top: 1px solid $stroke;
        border-bottom: 1px solid $stroke;

        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
        }

        & > :first-child {
            @media (min-width: 1025px) {
                border-right: 1px solid $stroke;
            }

            @media (max-width: 1024px) {
                border-bottom: 1px solid $stroke;
            }
        }
    }
}

.list {
    h2 {
        @media (min-width: 1025px) {
            position: sticky;
            top: 125px;
            left: 0;
            height: fit-content;
        }
        @media (max-width: 1024px) {
            margin-bottom: 25px;
        }
    }

    .section__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: 1024px) {
            display: block;
        }
    }

    .accordion__item-title {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        cursor: pointer;

        color: $blue;
        @include adaptive-value("font-size", 24, 16, 1);

        font-weight: 500;
        line-height: 1.1;
        text-transform: uppercase;
        color: $blue;

        @media (any-hover: hover) {
            &:hover {
                svg {
                    transform: rotate(45deg);
                }
            }
        }

        svg {
            width: 20px;
            height: 20px;
            stroke: currentColor;
            transition: all 0.3s ease 0s;
        }
    }
}

.table {
    border-left: 1px solid $stroke;

    // .table-head

    &-head {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-top: 1px solid $stroke;
    }

    // .table-row

    &-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        // .table-row-right

        &-right {
            display: flex;

            & > :first-child {
                flex: 1 1 auto;
            }

            @media (max-width: 600px) {
                display: block;

                & > :first-child {
                    padding-bottom: 0;
                    border-bottom: 0;
                }
            }
        }

        ._btn {
            flex: 1 1 250px;

            @media (max-width: 600px) {
                width: 100%;
                height: 40px;
            }
        }
    }

    // .table-cell

    &-cell {
        padding: 25px;
        text-align: left;
        border-right: 1px solid $stroke;
        border-bottom: 1px solid $stroke;

        @media (max-width: 1024px) {
            padding: 15px;
        }

        @media (max-width: 600px) {
            padding: 10px;
        }

        h6,
        p {
            @include adaptive-value("font-size", 20, 12, 1);
        }
    }
}

.info {
    background-color: $blue;
    padding: 50px 0;

    @media (max-width: 768px) {
        padding: 30px 0;
    }

    * {
        color: $white;
    }

    h2 {
        @include adaptive-value("font-size", 50, 22, 1);
    }

    ol {
        li {
            padding: 25px 0;
            border-bottom: 1px solid rgba($color: $white, $alpha: 0.25);

            @media (max-width: 768px) {
                padding: 15px 0;
            }
        }
    }
}

.other-services {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 600px) {
            grid-template-columns: repeat(4, 1fr);
            overflow-x: scroll;

            width: 100vw;
            margin-left: -15px;
            padding: 0 15px;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 50px;
            color: $blue;

            padding: 25px;
            border-radius: 4px;
            border: 1px solid $stroke;

            transition: all 0.3s ease 0s;

            @media (max-width: 1024px) {
                padding: 15px;
            }

            @media (max-width: 600px) {
                width: 270px;
            }

            ._btn-arrow {
                margin-left: auto;
            }

            @media (any-hover: hover) {
                &:hover {
                    color: $white;
                    background-color: $blue;

                    ._btn-arrow {
                        border-radius: 50%;

                        svg {
                            fill: $blue;
                        }
                    }
                }
            }
        }
    }
}

.benefits {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;
        }

        & > div {
            border: 1px solid $stroke;
            border-radius: 12px;
            padding: 25px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 50px;
            min-height: 150px;

            @media (max-width: 600px) {
                padding: 15px;
                border-radius: 4px;
            }

            &:empty {
                border: 0;

                @media (max-width: 1024px) {
                    display: none;
                }
            }

            .icon {
                width: 70px;
                height: 70px;

                @media (max-width: 600px) {
                    width: 60px;
                    height: 60px;
                }

                svg {
                    width: 100%;
                    height: 100%;

                    rect {
                        fill: currentColor;
                    }

                    path {
                        fill: $white;
                    }
                }
            }

            h5 {
                @include adaptive-value("font-size", 20, 14, 1);
                font-weight: 400;
            }
        }
    }
}

.single-product {
    .section__body {
        gap: 0;
    }

    .product-slider {
        position: relative;

        padding-bottom: 50px;
        position: relative;

        &:after {
            position: absolute;
            content: "";
            left: 50%;
            bottom: 0;

            transform: translate(-50%, 0);
            width: 100vw;
            height: 1px;
            background-color: $stroke;
            z-index: -1;
        }

        @media (max-width: 768px) {
            padding-bottom: 25px;
        }
    }

    h1 {
        text-align: center;

        @media (min-width: 600px) {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: 100%;
        }
    }

    .pagination {
        @media (max-width: 600px) {
            order: 3;
            width: fit-content;
        }
    }

    .product-content {
        position: relative;

        .section__body {
            padding: 0;
        }

        &:after {
            position: absolute;
            content: "";
            left: 50%;
            bottom: 0;

            transform: translate(-50%, 0);
            width: 100vw;
            height: 1px;
            background-color: $stroke;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            @media (max-width: 768px) {
                display: block;
            }
        }

        // .product-content__top

        &__top {
            position: relative;

            &:after {
                position: absolute;
                content: "";
                left: 50%;
                bottom: 0;

                transform: translate(-50%, 0);
                width: 100vw;
                height: 1px;
                background-color: $stroke;
                z-index: -1;
            }

            &.grid {
                @media (max-width: 1024px) {
                    display: block;
                }
            }
        }

        // .product-content__left

        &__left {
            padding: 50px 50px 50px 0;
            display: flex;
            justify-content: space-between;
            gap: 15px;

            color: $blue;
            border-right: 1px solid $stroke;
            position: relative;

            @media (max-width: 1440px) {
                padding: 25px 25px 25px 0;
            }

            @media (max-width: 1024px) {
                padding: 25px 0;
                position: relative;
                border-right: 0;

                &:after {
                    position: absolute;
                    content: "";
                    left: 50%;
                    bottom: 0;

                    transform: translate(-50%, 0);
                    width: 100vw;
                    height: 1px;
                    background-color: $stroke;
                }
            }

            @media (max-width: 600px) {
                flex-direction: column-reverse;
            }

            label {
                white-space: nowrap;

                @media (min-width: 1025px) {
                    position: absolute;
                    left: 0;
                    top: 0;
                    margin-top: 10px;
                }
            }
        }

        // .product-content__right

        &__right {
            padding: 50px 0px 50px 50px;

            display: flex;
            justify-content: space-between;
            gap: 15px;
            color: $blue;

            @media (max-width: 1440px) {
                padding: 25px 0px 25px 25px;
            }

            @media (max-width: 1024px) {
                padding: 25px 0;
            }

            @media (max-width: 600px) {
                display: block;
                & > :not(:last-child) {
                    margin-bottom: 25px;
                }
            }

            p {
                white-space: nowrap;
                color: $blue;
                font-weight: 600;
                line-height: 1;
                @include adaptive-value("font-size", 70, 26, 1);
            }

            div {
                & > :not(:last-child) {
                    margin-bottom: 20px;

                    @media (max-width: 1024px) {
                        margin-bottom: 10px;
                    }
                }
            }

            ._btn-border {
                div {
                    color: $blue;
                    border-color: $stroke;
                }
            }
        }

        // .product-content__guarante

        &__guarante {
            padding-bottom: 50px;
            padding-right: 50px;
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;

            @media (max-width: 1440px) {
                padding-bottom: 25px;
                padding-right: 25px;
            }

            @media (max-width: 768px) {
                padding-right: 0px;
                justify-content: center;
            }

            &:after {
                position: absolute;
                content: "";
                left: 50%;
                bottom: 0;

                transform: translate(-50%, 0);
                width: 100vw;
                height: 1px;
                background-color: $stroke;
                z-index: -1;
            }

            img,
            svg {
                flex: 0 0 auto;
                width: 50px;
                height: 50px;

                @media (max-width: 1440px) {
                    width: 40px;
                    height: 40px;
                }

                @media (max-width: 768px) {
                    width: 30px;
                    height: 30px;
                }
            }

            span {
                text-transform: uppercase;
            }
        }

        // .product-content__bottom

        &__bottom {
            // .product-content__bottom-left

            &-left {
                padding: 50px 50px 50px 0;
                color: $blue;
                border-right: 1px solid $stroke;

                @media (max-width: 1440px) {
                    padding: 25px 25px 25px 0;
                }

                @media (max-width: 1024px) {
                    padding: 25px 25px 25px 0;
                }

                @media (max-width: 768px) {
                    position: relative;
                    border-right: 0;
                    padding: 20px 0;

                    &:after {
                        position: absolute;
                        content: "";
                        left: 50%;
                        bottom: 0;

                        transform: translate(-50%, 0);
                        width: 100vw;
                        height: 1px;
                        background-color: $stroke;
                        z-index: -1;
                    }
                }
            }

            // .product-content__bottom-right

            &-right {
                padding: 50px 0px 50px 50px;
                color: $blue;
                background-color: $white;

                @media (max-width: 1440px) {
                    padding: 25px 0px 25px 25px;
                }

                @media (max-width: 1024px) {
                    padding: 25px 0 25px 25px;
                }

                @media (max-width: 768px) {
                    padding: 20px 0px;
                }

                h6 {
                    display: block;
                    margin-bottom: 20px;
                }

                div {
                    & > :not(:last-child) {
                        border-bottom: 1px solid $stroke;
                    }

                    label {
                        padding: 20px 0;

                        p {
                            flex: 1 1 100%;
                            @include adaptive-value("font-size", 16, 14, 1);
                            font-weight: 500;
                        }

                        span {
                            white-space: nowrap;
                        }
                    }
                }
            }
        }

        // .product-content__characteristics

        &__characteristics {
            .accordion__item-content-height {
                ol {
                    & > :last-child {
                        border-bottom: 1px solid $stroke;
                    }

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        & > :first-child {
                            font-weight: 500;
                        }

                        & > :last-child {
                            text-align: right;
                        }
                    }
                }
            }

            ._more {
                margin-top: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                background-color: $blue;
                border-radius: 4px;
                color: $white;
                padding: 10px 20px;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                border: 1px solid $blue;

                @media (max-width: 1440px) {
                    margin-top: 25px;
                    gap: 10px;
                }

                @media (max-width: 768px) {
                    padding: 10px;
                    margin-top: 15px;
                }

                svg,
                img {
                    flex: 0 0 auto;
                    width: 16px;
                    height: 14px;
                    fill: currentColor;
                }

                @media (any-hover: hover) {
                    &:hover {
                        background-color: unset;
                        color: $blue;
                    }
                }
            }
        }
    }
}

.product {
    &-tabs {
        .tab-content {
            display: none;
            margin-top: 25px;

            &._active {
                display: block;
            }

            // .tab-content__downloadfile

            &__downloadfile {
            }
        }
    }

    // .product__info

    &__info {
        // .product__info-tabs

        &-tabs {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid $stroke;

            & > :not(:last-child) {
                @media (min-width: 6001px) {
                    border-right: 1px solid $stroke;
                }

                @media (max-width: 600px) {
                    border-bottom: 1px solid $stroke;
                }
            }

            @media (max-width: 600px) {
                flex-direction: column;
            }

            button {
                padding: 20px;
                width: 100%;
                color: $blue;
                transition: all 0.3s ease 0s;

                @media (max-width: 600px) {
                    padding: 15px;
                }

                &._active {
                    background-color: $blue;
                    color: $white;
                }
            }
        }

        // .product__info-tabs

        &-tabs {
        }
    }
}

.about-page {
    background-color: $blue;
}

.about-hero {
    h1 {
        font-family: AA_Duke;
        @include adaptive-value("font-size", 400, 65, 1);
        font-weight: 100;
    }

    .breadcrumb {
        li {
            color: rgba($color: $white, $alpha: 0.5);

            a {
                color: rgba($color: $white, $alpha: 0.5);
            }

            @media (any-hover: hover) {
                &:hover {
                    a {
                        color: $white;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        margin-bottom: 0;
    }
    h1 {
        color: $white;
        text-align: center;
    }
}

.about {
    position: relative;

    &:after {
        position: absolute;
        content: "";
        left: 50%;
        top: -1px;
        transform: translate(-50%, 0);
        width: 100vw;
        height: 1px;
        background-color: rgba($color: $white, $alpha: 0.25);
    }

    &:before {
        position: absolute;
        content: "";
        left: 50%;
        bottom: -1px;
        transform: translate(-50%, 0);
        width: 100vw;
        height: 1px;
        background-color: rgba($color: $white, $alpha: 0.25);
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: 1024px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    .big-text {
        @include adaptive-value("font-size", 34, 18, 1);
        font-weight: 500;
        line-height: 110%;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    // .about__contacts

    &__contacts {
        padding: 50px 50px 50px 0;
        color: $white;
        border-right: 1px solid rgba($color: $white, $alpha: 0.25);
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: $blue;
        z-index: 1;

        @media (max-width: 1440px) {
            padding: 25px 25px 25px 0;
        }

        @media (max-width: 1024px) {
            padding: 25px 0;
            position: relative;
            border-right: 0;

            &:after {
                position: absolute;
                content: "";
                left: 50%;
                bottom: 0;

                transform: translate(-50%, 0);
                width: 100vw;
                height: 1px;
                background-color: rgba($color: $white, $alpha: 0.25);
            }
        }

        @media (max-width: 768px) {
            padding-top: 0;
        }

        @media (max-width: 600px) {
            flex-direction: column-reverse;
        }

        p {
            a {
                font-weight: 500;
                @media (any-hover: hover) {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        // .about__contacts-blocks

        &-blocks {
            display: flex;
            gap: 15px;
            margin-top: 50px;

            @media (max-width: 768px) {
                flex-direction: column;
                margin-bottom: 50px;
                margin-top: 0;
            }

            a,
            div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 25px;
                gap: 50px;
                border-radius: 6px;
                background: rgba($color: #bfd5ff, $alpha: 0.15);
                border: 1px solid rgba($color: $white, $alpha: 0.25);
                transition: border-color 0.3s ease 0s;

                @media (any-hover: hover) {
                    &:hover {
                        border-color: $white;
                    }
                }

                * {
                    pointer-events: none;
                }

                @media (max-width: 1440px) {
                    padding: 15px;
                    gap: 25px;
                }

                span,
                label {
                    color: $white;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                span {
                    opacity: 0.5;
                }
            }
        }
    }

    // .about__content

    &__content {
        padding: 50px 0px 50px 50px;

        @media (max-width: 1440px) {
            padding: 25px 0px 25px 25px;
        }

        @media (max-width: 1024px) {
            padding: 25px 0 50px 0;
        }

        @media (max-width: 600px) {
            display: block;
        }

        p {
            color: $white;
        }

        ._text-box {
            p {
                @media (min-width: 768px) {
                    max-width: 75%;
                }
            }
            & > :not(:last-child) {
                margin-bottom: 25px;

                @media (max-width: 768px) {
                    margin-bottom: 15px;
                }
            }

            margin-bottom: 50px;

            @media (max-width: 1440px) {
                margin-bottom: 25px;
            }
        }
    }

    // .about__advantages

    &__advantages {
        margin-bottom: 50px;

        & > :last-child {
            position: relative;

            &:before {
                position: absolute;
                content: "";
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 0);
                width: 100vw;
                height: 1px;
                background-color: rgba($color: $white, $alpha: 0.25);
            }
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 50px;

            padding: 25px 0;
            position: relative;

            @media (max-width: 768px) {
                padding: 15px 0;
                gap: 25px;
            }

            &:after {
                position: absolute;
                content: "";
                left: 50%;
                top: 0;
                transform: translate(-50%, 0);
                width: 100vw;
                height: 1px;
                background-color: rgba($color: $white, $alpha: 0.25);
            }

            color: $white;

            span {
                font-family: AA_Duke;
                @include adaptive-value("font-size", 200, 100, 1);
                font-weight: 100;
                line-height: 0.8;
                text-transform: uppercase;
            }

            p {
                text-transform: uppercase;
            }
        }
    }
}

.about-services {
    .section__top {
        border-color: rgba($color: $white, $alpha: 0.25);
    }

    h2,
    span {
        color: $white;
    }

    .section__bottom {
        & > :not(:last-child) {
            margin-bottom: 10px;
        }
    }
    // .about-services__card

    &__card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgba($color: $white, $alpha: 0.25);
        padding: 20px;
        border-radius: 6px;
        position: relative;

        @media (max-width: 1024px) {
            padding: 15px;
        }

        &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            max-height: 0;
            background-color: $white;
            transition: max-height 0.3s ease 0s;
            border-radius: 6px;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $blue;

                &:after {
                    max-height: 100%;
                }

                h3 {
                    color: $blue;
                }

                ._btn-arrow {
                    background-color: $blue;

                    svg {
                        fill: $white;
                    }
                }
            }
        }

        h3 {
            position: relative;
            z-index: 1;
            color: $white;
            transition: color 0.3s ease 0s;
        }

        img {
            pointer-events: none;
            position: absolute;
            width: 450px;
            opacity: 0;
            z-index: 2;
            transform: scale(0.8);
        }

        ._btn-arrow {
            position: relative;
            z-index: 2;
            width: 50px;
            height: 50px;

            transition: background-color 0.3s ease 0s;

            svg {
                transition: fill 0.3s ease 0s;
            }
        }
    }
}

.cart {
    // .cart-table

    &-table {
        display: flex;
        justify-content: space-between;
        gap: 50px;

        @media (max-width: 1440px) {
            gap: 25px;
        }

        @media (max-width: 1024px) {
            display: block;

            & > :not(:last-child) {
                margin-bottom: 80px;
            }
        }
    }

    // .cart-items

    &-items {
        flex: 1 1 auto;

        & > :not(:last-child) {
            margin-bottom: 25px;

            @media (max-width: 1024px) {
                margin-bottom: 15px;
            }
        }
    }

    // .cart-order

    &-order {
        flex: 0 0 auto;
        width: 33%;
        padding: 25px;
        border: 1px solid $stroke;
        background-color: $white;

        @media (max-width: 1024px) {
            padding: 15px;
            width: 100%;

            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 12;
            border: 0;
            border-radius: 0;

            display: none;
        }

        @media (max-width: 768px) {
        }

        // .cart-order__total

        &__total {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $blue;

            p,
            span {
                @include adaptive-value("font-size", 32, 18, 1);
                font-weight: 600;
                line-height: 1;
                text-transform: uppercase;

                i {
                    font-style: normal;
                }
            }
        }

        // .cart-order__bottom

        &__bottom {
            margin-top: 25px;

            p,
            a {
                color: $blue;
            }

            ._btn {
                width: 100%;
            }

            .form__row {
                @media (max-width: 1200px) {
                    flex-direction: column;
                }

                .form__item {
                    @media (max-width: 10244px) {
                        width: 100%;
                    }
                }
            }

            .form__bottom {
                flex-direction: column;

                span {
                    max-width: 400px;
                }
            }
        }
    }
}

.go-to-order {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    padding: 15px 0;
    z-index: 11;
    box-shadow: 0px 0px 4px 2px rgba($color: $black, $alpha: 0.1);

    display: none;

    @media (max-width: 1024px) {
        display: block;
    }

    ._btn {
        width: 100%;
        margin-top: 15px;
    }
}
